*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  gap: 10rem;
  /* border: 2px solid black; */
  position: absolute;
  z-index: 1;
}
.lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 55vw;
  /* border: 2px solid black; */
}
.list-item{
  list-style: none;
  font-size: 1.5rem;
}
.horizontal-line{
  height: 0vh;
  width: 20vw;
  background-color: black;
  border: 2px solid black;
}
/*#########HERO SECTION ##########*/
.hero-section{
  display: flex;
  justify-content: space-between;
  height: 99.5vh;
  /* border: 2px solid black; */
}
.girl-img{
  height: 99.6vh;
  width: 35vw;
  background-image: url('/Images/pexels-rfstudio-3819572.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  /* border: 2px solid black; */
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 99.6vh;
  width: 90vw;
  /* border: 2px solid black; */
}
.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25vh;
  height: 40vh;
  /* border: 2px solid black; */
}
.creativity{
  height: 40vh;
  width: 32vw;
  /* border: 2px solid rgb(24, 201, 245); */
}
.creativity h1{
  font-size: 6.8rem;
}
.ingredient{
  height: 15vh;
  width: 12vw;
  position: absolute;
  margin-left: 25rem;
  margin-top: 8rem;
  /* border: 2px solid rgb(24, 201, 245); */
}
.ingredient p{
  font-size: 2rem;
  color: rgb(54, 53, 53);
}
.icons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  width: 3vw;
  /* border: 2px solid rgb(24, 201, 245); */
}
.icon{
  height: 30px;
  width: 30px;
}
.btn{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
  /* border: 2px solid black;*/
} 
.btn button{
  height: 6.5vh;
  width: 22vw;
  margin-right: 8vh;
  background-color: rgb(36, 36, 36);
  color: white;
}
.main2{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 40vh;
  /* border: 2px solid black; */
}
.vertical-line{
  height: 35vh;
  width: 20vw;
  /* border: 2px solid rgb(24, 201, 245); */
}
.line{
  height: 15rem;
  width: px;
  background-color: rgb(32, 32, 32);
  border: 1px solid rgb(31, 31, 31);
  position: absolute;
}
.list{
  position: absolute;
  margin-left: -0.5vh;
}
.list li{
  font-size: 1.5rem;
}



.quote{  
  height: 20vh;
  width: 25vw;
  /* border: 2px solid rgb(24, 201, 245); */
}
.quote h1{
  margin-top: -8vh;
  font-size: 7rem;
}
.quote h6{
  font-size: 1rem;
}
.arrow{
  height: 30vh;
  width: 2vw;
  background-image: url('/assets/arrow.svg');
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-left: 50rem;
  margin-top: 3rem;
  /* border: 2px solid rgb(24, 201, 245); */
}





/*###########RESPONSIVENESS###########*/
@media screen and (max-width:900px){
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 2rem;
    /* border: 2px solid black; */
    /* position: absolute;
    z-index: 1; */
    overflow-x: scroll;
  }
  .lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 60vw;
    gap: 50px;
    /* border: 2px solid black; */
  }
  .list-item{
    list-style: none;
    font-size: 1.5rem;
  }
  /*################HERO SECTION###############*/
  .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    /* border: 2px solid black; */
  }
  .girl-img{
    height: 70vh;
    width: 100vw;
    background-image: url('/Images/pexels-rfstudio-3819572.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
  }

  .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150vh;
    width: auto;
    margin-top: 5vh;
    border: 2px solid black;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25vh;
    height: 80vh;
    /* border: 2px solid black; */
  }
  .creativity{
    height: 40vh;
    width: 60vw;
    border: 2px solid rgb(24, 201, 245);
  }
  .creativity h1{
    font-size: 6.8rem;
  }
  .ingredient{
    height: 15vh;
    width: 25vw;
    position: absolute;
    margin-left: 3rem;
    margin-top: 5rem;
    border: 2px solid rgb(24, 201, 245);
  }
  .ingredient p{
    font-size: 2rem;
    color: rgb(54, 53, 53);
  }
  .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 6vw;
    border: 2px solid rgb(24, 201, 245);
  }
  .icon{
    height: 30px;
    width: 30px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 2px solid black;
  } 
  .btn button{
    height: 6.5vh;
    width: 22vw;
    /* margin-right: 8vh; */
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid black; */
  }
  .vertical-line{
    height: 25vh;
    width: 20vw;
    /* border: 2px solid rgb(24, 201, 245); */
  }
  .line{
    height: 10rem;
    width: px;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(31, 31, 31);
    position: absolute;
  }
  .list{
    position: absolute;
    margin-left: 0vh;
  }
  .list li{
    font-size: 1.5rem;
  }
  
  
  
  .quote{  
    height: 20vh;
    width: 25vw;
    border: 2px solid rgb(24, 201, 245);
  }
  .quote h1{
    margin-top: -8vh;
    font-size: 7rem;
  }
  .quote h6{
    font-size: 1rem;
  }
  .arrow{
    height: 19vh;
    width: 5vw;
    background-image: url('/assets/arrow.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
    margin-left: 12rem;
    margin-top: 15rem;
    border: 2px solid rgb(24, 201, 245);
  }
  

}